body {
    background-image: url("aset/designback.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    position: relative;
}

.avatar_container {
    position: fixed;
    top: 20px;
    right: 20px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid white;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 80%;
    max-width: 800px;
    border-radius: 20px;
    overflow: hidden;
}

.start_container,
.image_container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: white;
}

.start_container {
    background-color: #6096B4;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.image_container {
    background-color: #6096B4;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.image_container img {
    width: 200px;
    height: auto;
}

.judul_container {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

.button_container {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    font-weight: bold;
    color: #6096B4;
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
}

button:hover {
    background-color: #f1f1f1;
    transform: scale(1.05);
}
