* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    background-image: url("aset/designback.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
    font-family: 'Courier New', Courier, monospace;
    color: white;
  }
  
  .container {
    width: 300px;
  }
  
  .form-box {
    background-color: #6096B4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
  }
  
  .form-box h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-weight: bold;
  }
  
  .form-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
  }
  
  .form-box button {
    width: 100%;
    padding: 10px;
    background-color: #6096B4;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
}

  .form-box button:hover {
    background-color: white;
    color:#6096B4;
  }
  
  .form-box p {
    text-align: center;
    margin-top: 15px;
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
    color: white;
  }
  
  .form-box a {
    color: orange;
    font-size: small;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .form-box a:hover {
    text-decoration: underline;
  }
  